h1
{
color: black; height: 30px;
text-align: center;
}

p
{
height:15px;
text-align: center;
}

h3{

    height:15px;
text-align: center;
}

.semana {
    height:15px;
    text-align: center; 
}



.tabla-persona {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
  }
  
  .tabla-persona th, .tabla-persona td {
    border: 1px solid #000;
    padding: 10px;
    text-align: left;
  }
  
  .tabla-persona th {
    background-color: #2e00fc;
    color: white;
  }
  
  .tabla-persona td {
    background-color: burlywood;
  }
  